<form action="/students/<%= @student.id %>/activate" method="post">
  <input type="checkbox" name="activate" value="Activate">Activate
  <input type="checkbox" name="deactivate" value="deactivate">De-activate
  <input type="submit" name="submit" value="submit">
</form>
