<!-- <h1><%=@student.to_s%></h1> -->

<!-- <p>Please check the below box to activate</p>
<form action="<%=student_path(@student)%>" method="patch">
  <p>Active: <input type="checkbox" name="activated"></p>
  <input type="submit" value="Submit">
</form> -->
<!-- <p>Thank you, your staus has been updated.</p>
<p><%=link_to "Back to studend page", student_path(@student)%></p> -->
