<form class="" action="/students/<%=student.id%>/activate" method="post">
    <input type="radio" name="student[active][]" value=true id="true">This student is currently active.</input>
    <input type="radio" name="student[active][]" value=false id="false">This student is currently inactive.</input>
</form>