<!-- <p>Is this student Active or Inactive?</p>
<form action="students/:id" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="radio" name="status" value=true >Active<br>
  <input type="radio" name="status" value=false>Inactive<br>
  <input type="submit" value="Update">
</form> -->
