<!-- <% if !@student.active %>
  <% @student.activate %>
  <h1><%= @student %> status activated.</h1>
  <% elsif @student.active %>
  <% @student.deactivate %>
  <h1><%= @student %> status deactivated.</h1>
  <% end %> -->
