<h1>Activate</h1>

<%= form_tag(student_path, method: "post") do %>
  <input type="hidden" id="hidden" name="_method" value="patch">

  <%= check_box_tag(:active, checked = "true", unchecked = "false") %>

  <%= label_tag(:active, "Active") %>
  <p> <%= submit_tag("Update") %> </p>

<% end %>
