<% if @student.active %>
  <p>This student is currently active.</p>
<% else %>
  <p>This student is currently inactive.</p>
<% end %>

<%= form_for @student do |f| %>
  Active? <%= f.check_box :active %>
</br>
  <%= f.submit %>
<% end %>
