<div>
  <% @students.each do |student| %>
    <div><%= student.first_name + " " + student.last_name %></div><br>
    <div><%= link_to student.to_s, "/students/#{student.id}" %></div><br>
    <div><%= link_to student.to_s, student_path(student.id) %></div><br>
    <div><%= link_to student.to_s, student_path(student) %></div><br>
  <% end %>
</div>