<div>
  <% @students.each do |student| %>
  <!--  <div><%= "/students/#{student.id}" %><%= student.to_s %></div> -->
    <div><%= link_to student.to_s, student_path(student) %></div>
    <div><%= student.first_name + " " + student.last_name %></div>
  <% end %>
</div>
