<div>
  <% @students.each do |student| %>
    <div><%= student.first_name + " " + student.last_name %>
    <%# <a href="student_path(student)"><%= student.to_s %>
    <%= link_to(student.to_s, student_path(student)) %>
    <%# <% byebug %>
    </a></div>
  <% end %>
</div>