
<div>
  <% @students.each do |student| %>
    <div><%= link_to "#{student.first_name} #{student.last_name}", "/students/#{student.id}" %><%= student.first_name + " " + student.last_name %></div>
  <% end %>
</div>

