<div>
  <% @students.each do |student| %>
    <%= student.to_s %>
    <!--<div><%= student.first_name %>-->
    <!--<%= student.last_name %></div>-->
   
    <% link_to("student", student_path(student)) %>
  <% end %>
</div>