<div>
  <% @students.each do |student| %>
    <div>Static URL = <%= link_to student.to_s, "/students/#{student.id}" %></div>
    <div>Student Path + ID = <%= link_to student.to_s, student_path(student.id) %></div>
    <div>Student Path + Student = <%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>
