<h2>link_to "#{student.to_s}", "/students/#{student.id}"</h2>
<div>
  <% @students.each do |student| %>
    <div><%= link_to "#{student.to_s}", "/students/#{student.id}" %></div>
  <% end %>
</div>

<h2>link_to( "#{student.to_s}", student_path(student.id)) </h2>
<div>
  <% @students.each do |student| %>
    <div><%= link_to( "#{student.to_s}", student_path(student.id)) %></div>
  <% end %>
</div>

<h2>link_to( "#{student.to_s}", student_path(student)) </h2>
<div>
  <% @students.each do |student| %>
    <div><%= link_to( "#{student.to_s}", student_path(student)) %></div>
  <% end %>
</div>
