<div>
  <ul>
    <% @students.each do |student| %>
      <% if student.active %>
      <li><%= link_to student.to_s, student_path(student) %> <h1><%="This student is currently active."%></h1></li>
      <% else %>
      <li><%= link_to student.to_s, student_path(student) %> <h1><%="This student is currently inactive."%></h1></li>
      <% end %>
    <% end %>
  </ul>
</div>