<p> This  is index page</p>
<div>
  <% @students.each do |student| %>
     <div><%= link_to student.first_name, student_path(student) %></div>
     <div><%= link_to student.last_name, student_path(student) %></div>
 
  <% end %>
</div>