<div>
  <% @students.each do |student| %>
    <div><%= student.first_name + " " + student.last_name %></div>
  
    <%= link_to student.first_name, activate_student_path(student)%>
  <% end %>

</div>
