<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>
    <%if !student.active%>
    <p><%="This student is currently inactive."%></p>
    <%else%>
    <p><%="This student is currently inactive."%></p>
    <%end%>
  <% end %>
</div>