<div>
  <% @students.each do |student| %>
    <div><%= student.first_name + " " + student.last_name %></div>
  <% end %>

  <!--link_to "post", "/post/#{post.id}"
  link_to("post", post_path(post.id))
  link_to("post", post_path(post))
</div>
