<h1>Welcome to the students page</h1>
<h2>We currently have <%= @students.count %> student(s)</h2>
<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>
