<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, "/student/#{student.id}" %></div>
  <% end %>
  
  <br />

  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student.id) %></div>
  <% end %>

  <br />

  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>
