<div>

  <% @students.each do |student| %>
  
    <div><%= student.first_name + " " + student.last_name %></div>
    <div><%= link_to student.to_s, student_path(student) %></div>
<!--     <div><a href="/students/<%=student.id%>"><%=student.id%></a></div> -->
  <% end %>
</div>