<div>
  <% @students.each do |student| %>
  	<div><%= link_to post.title, "/posts/#{post.id}" %></div>
  	<div><%= link_to post.title, post_path(post.id) %></div>
    <div><%= link_to studnet.to_s, student_path(student) %></div>
  <% end %>
</div>