<div>
  <% @students.each do |student| %>
     <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>



<!-- 
link_to student.to_s,  /student/#{student.id)}
link_to student.to_s, student_path(student.id)
link_to student.to_s, student_path(student) -->