<h1><%= @student.to_s %></h1>
<% if @student.active == false %>
			<a href="/students/<%= @student.id %>/activate" class="button">Activate</a> 
<% else %>
			<a href="/students/<%= @student.id %>/deactivate" class="button">Deactivate</a>
<% end %>