<h1><%= @student.to_s %></h1>

<% if @student.active? %> "This student is currently active."
<% else%> "This student is currently inactive."
<% end %>

<%= link_to 'Activate/Deactivate', activate_student_path(@student) %>
