<h1><%= @student.to_s %></h1>

<% if @student.active == true %>
  <h3>This student is currently active.</h3>
<% elsif @student.active == false %>
  <h3>This student is currently inactive.</h3>
<% end %>
