<h1><%= @student.to_s %></h1>

<% if @student.active_status == true %>
    <p>This student is currently active.</p>
<% elsif @student.active_status == false %>
    <p>This student is currently inactive.</p>
<% end %>
    
