<h1><%= @student.to_s %></h1>

<% if @student.active %>
  <p>This student is currently active.</p>
  <p><%= link_to "Inactivate", activate_student_path(@student) %></p>
<% else %>
  <p>This student is currently inactive.</p>
  <p><%= link_to "Activate", activate_student_path(@student) %></p>
<% end %>
