<h1><%= @student.to_s %></h1>
<% if @student.active %>
        <li><%= "This student is currently active."%></h1></li>
    <% else %>
        <li><%= "This student is currently inactive."%></h1></li>
<% end %>