<h1><%= @student.to_s %></h1>

<h1><%= @student.active %></h1>
<p><% if @student.active %></p>
<p><%= "This student is currently active."%> </p>
<%else%>
<p><%= "This student is currently inactive."%></p>
<% end %>
