<h1><%= @student.to_s %></h1>

<%=@student.active%>

<%if @student.active == true%>

<p>
  "This student is currently active."
</p>

<%elsif @student.active == false %>

<p>
  "This student is currently inactive."
</p>

<%end%>
