<h1><%= @student.first_name + " " + @student.last_name %></h1>
    <% if @student.active%>
        <p>This student is currently active.</p>
    <% else%>
        <p>This student is currently inactive.</p>
    <% end%>