<h1><%= @student.to_s %></h1>

<% if @student.active %>
  This student is currently active.
<% else %>
  This student is currently inactive.
<<<<<<< HEAD
<% end %>
=======
<% end %>
>>>>>>> 38e2ddad6966950a86e1d81cce5d8111a85bce4f
