<h1><%= @student.to_s %></h1>
<p><%= @student.active %></p>

<p><% if @student.active == false %></p>
<p>This student is currently inactive.</p>
<% else %>
<p> This student is currently active. </p>
<% end %>

<p><%= link_to @student.to_s, activate_student_path(@student) %></p>


<p><a href="/students/#{@student.id}/activate">here</p>
