<h1><%= @student.to_s %></h1>
<% if @student.active == true %>
  <P>This student is currently active.</p>
<% end %>
<% if @student.active == false %>
  <P>This student is currently inactive.</p>
<% end %>
