<h1><%= @student.first_name %></h1>
<h1><%= @student.last_name %></h1>
<%= link_to @student.first_name, activate_student_path(@student)%>

<% if @student.active%>
    <p>This student is currently active.</p>
<%else%>
    <p>This student is currently inactive.</p>
<%end%>
