<h1><%= @student.to_s %></h1>

<% if @student.active %>
  This student is currently active.
<% else %>
  This student is currently inactive.
<% end %>

<a href="<%= activate_student_path(@student) %>">FDASHJFMB,NDASHJFKDLAJHFDASHKLFDSKFS</a>
