<h1><%= @student.to_s %></h1>
<% if @student.active == false %> -->
    <p>This student is currently <!--<%= @student.active%>--> inactive.</p>
<% else %>
    <p>This student is currently <!--<%= @student.active%>--> active.</p>
<% end %>-->
