<h1><%= link_to @student.to_s, student_path(@student) %></h1>
<p><%= "This student is currently inactive." if @student.active == false %></p>
<p><%= "This student is currently active." if @student.active == true %></p>
